// Babel will read this if it's in the same folder where we run webpack.
// Here we specify what we want to target when babel complies next gen javascript to current.

{
   "presets": [
      ["@babel/env", {
         "targets": {
            "browsers": [
               "> 1%",
               "last 2 versions"
            ]
         }
      }],
      "@babel/react"      
   ],
   "plugins": [
      "syntax-dynamic-import", // Ensures that babel understands dynamic import statements as used for code splitting, for example.
      "@babel/plugin-proposal-class-properties"
   ]
}